// .title {
// 	position: absolute;
// 	width: 428px;
// 	height: 47px;
// 	left: 80px;
// 	top: 86px;

// 	font-family: Roboto;
// 	font-style: normal;
// 	font-weight: bold;
// 	font-size: 36px;
// 	line-height: 28px;

// 	/* or 78% */
// 	letter-spacing: 0.01em;

// 	color: #000000;
// }

.appbar_title {
	// position: absolute;
	width: 428px;
	height: 50px;
	left: 80px;
	top: 0px;

	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 28px;

	/* or 117% */
	display: flex;
	align-items: center;
	letter-spacing: 0.01em;

	color: #ffffff;
}

// .description {
// 	position: absolute;
// 	width: 465px;
// 	height: 73px;
// 	left: 80px;
// 	top: 139px;

// 	font-family: Roboto;
// 	font-style: normal;
// 	font-weight: normal;
// 	font-size: 13px;
// 	line-height: 18px;

// 	/* or 138% */

// 	color: #363636;
// }

// // .divider {
// // 	position: absolute;
// // 	width: 1279.5px;
// // 	height: 0px;
// // 	left: 81px;
// // 	top: 279px;

// // 	/* GREY KUB */
// // 	border: 1px solid #bbbbbb;
// // }

.tutorial_button {
	border-radius: 200;
}
